@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />

    <title>document</title>
</head>
<body>
     // Loading screen Image
    @*<div id="load"></div>*@
    <div class="text-center" id="contents">
        <h1 class='header section-center'>Raven Age</h1>
        <div class="container section-center">
            <div class="container-text">
                <img src="/images/Backgrounds/islandSkyland.png" class="img-responsive" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto delectus iure temporibus quia odio ab nemo eligendi impedit cumque esse voluptates quam et error, commodi eaque ea consequuntur reiciendis fugiat! Alias voluptatem laudantium ut accusantium, magni saepe nihil earum dolorem laborum dolorum excepturi doloribus ab inventore quaerat, similique non porro provident ipsum eius impedit esse, totam facilis. Optio nulla dolore recusandae omnis deleniti repellendus exercitationem.Hic ea doloremque earum magnam commodi dicta laboriosam consectetur modi accusantium non animi vel adipisci, quis veritatis neque dolorum? Sit laborum itaque nesciunt maxime unde veniam numquam, officiis fugit praesentium? Delectus nostrum voluptates quis tempore reiciendis>non temporibus itaque minima culpa quod facere, accusamus excepturi corporis asperiores odio veritatis? Quas illo libero quos cupiditate facere ipsam molestias corporis harum voluptas iure asperiores delectus, omnis eos est, enim, distinctio autem sequi similique ratione! Expedita, maiores dolore neque sequi dolores earum esse quia! Illo, at.</p>
            </div>
            <div class="container-login">
                <h2>Log in</h2>
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <p>
                        <label asp-for="Input.Email">Email address</label><input asp-for="Input.Email"
                                                                                 type="email"
                                                                                  />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </p>
                    <p>
                        <label asp-for="Input.Password">Password</label><input asp-for='Input.Password' 
                                                                               type="password"
                                                                               v />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </p>
                    <div class="login-part">
                        <span>
                            <span>
                                <label asp-for="Input.RememberMe" class="login-label">
                                    <input asp-for="Input.RememberMe" type="checkbox" value="false" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </span>
                        </span><button class="button button--primary" type="submit">Log in</button>
                    </div>
                    <p>
                        <a href="#" class="forgottenPass">
                            Forgotten Password?
                        </a>
                    </p>
                </form>
                <hr />
                <p class="or">or</p>
                <p>
                    <span style="transition: opacity 0.5s ease 0s">
                        <button>
                            <a class="btnOr" href="Identity/Account/Register1">
                                <i></i>Don't have account ?
                            </a>
                        </button>
                    </span>
                </p>
                <p class="or">or</p>
                <p>
                    <span style="transition: opacity 0.5s ease 0s">
                        <button type="button">
                            <i></i>Login with Facebook
                        </button>
                    </span>
                </p>
                <p class="or">or</p>
                <button>
                    <span>
                        <svg fill="currentColor"
                             preserveAspectRatio="xMidYMid meet"
                             height="25"
                             width="25"
                             viewBox="0 0 40 40"
                             style="vertical-align: middle; color: rgb(0, 172, 237)">
                            <g>
                                <path d="m37.7 9.1q-1.5 2.2-3.7 3.7 0.1 0.3 0.1 1 0 2.9-0.9 5.8t-2.6 5.5-4.1 4.7-5.7 3.3-7.2 1.2q-6.1 0-11.1-3.3 0.8 0.1 1.7 0.1 5 0 9-3-2.4-0.1-4.2-1.5t-2.6-3.5q0.8 0.1 1.4 0.1 1 0 1.9-0.3-2.5-0.5-4.1-2.5t-1.7-4.6v0q1.5 0.8 3.3 0.9-1.5-1-2.4-2.6t-0.8-3.4q0-2 0.9-3.7 2.7 3.4 6.6 5.4t8.3 2.2q-0.2-0.9-0.2-1.7 0-3 2.1-5.1t5.1-2.1q3.2 0 5.3 2.3 2.4-0.5 4.6-1.7-0.8 2.5-3.2 3.9 2.1-0.2 4.2-1.1z"></path>
                            </g>
                        </svg>
                        Log in with Twitter
                    </span>
                </button>
            </div>

        </div>
        <footer class='footer'>
            <p>	&#169; JuGADev2021</p>
            <a class='help' href="#">Help</a>
            <a class='privacy' href="#">Privacy</a>
            <a class='terms' href="#">Terms</a>
        </footer>
    </div>
    <script>
        // Loading screen code
        //document.onreadystatechange = function () {
        //    var state = document.readyState;
        //    if (state == 'interactive') {
        //        document.getElementById('contents').style.visibility = 'hidden'
        //    }
        //    else if (state == 'complete') {
        //        setTimeout(function () {
        //            document.getElementById("interactive");
        //            document.getElementById("load").style.visibility = 'hidden';
        //            document.getElementById("contents").style.visibility = 'visible';
        //        }, 2000)

        //    }
        //}

    </script>
</body>
</html>





@*<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
