@model RavenAge.Web.ViewModels.City.CityViewModel;


<div class="row justify-content-between">

    <div class="col-md-3">
        <p>Archars @Model.Archers</p>
        <img class="img-fluid justify-content-center" src="~/images/Soldiers/HumanArchar.jpg" />
    </div>

    <div class="col-md-3">
        <p>Infantry</p>
        <img class="img-fluid justify-content-center" src="~/images/Soldiers/HumanInfantry.jpg" />
    </div>

    <div class="col-md-3">
        <p>Cavalry</p>
        <img class="img-fluid justify-content-center" src="~/images/Soldiers/HumanCavalery.jpg" />
    </div>

    <div class="col-md-3">
        <p>Artillery</p>
        <img class="img-fluid justify-content-center" src="~/images/Soldiers/HumanTrebuchet.jpg" />
    </div>

</div>

<div class="row justify-content-between">

    <div class="col-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>
        <form method="post">

            <div class="col-md-7">
                <label asp-for="@Model.HireSoldiersInputModel.Quantity"></label>
                <input name="quantity" asp-for="@Model.HireSoldiersInputModel.Quantity" class="form-control" />
                <span asp-validation-for="@Model.HireSoldiersInputModel.Quantity" class="text-danger"></span>
            </div>

            <input type="submit" value="Hire" class="btn btn-primary mt-4" style="width: 6.1rem;" />
        </form>
    </div>

    <div class="col-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>
        <form method="post">

            <div class="col-md-7">
                <label asp-for="@Model.HireSoldiersInputModel.Quantity"></label>
                <input name="quantity" asp-for="@Model.HireSoldiersInputModel.Quantity" class="form-control" />
                <span asp-validation-for="@Model.HireSoldiersInputModel.Quantity" class="text-danger"></span>
            </div>

            <input type="submit" value="Hire" class="btn btn-primary mt-4" style="width: 6.1rem;" />
        </form>
    </div>

    <div class="col-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>
        <form method="post">

            <div class="col-md-7">
                <label asp-for="@Model.HireSoldiersInputModel.Quantity"></label>
                <input name="quantity" asp-for="@Model.HireSoldiersInputModel.Quantity" class="form-control" />
                <span asp-validation-for="@Model.HireSoldiersInputModel.Quantity" class="text-danger"></span>
            </div>

            <input type="submit" value="Hire" class="btn btn-primary mt-4" style="width: 6.1rem;" />
        </form>
    </div>

    <div class="col-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>
        <form method="post">

            <div class="col-md-7">
                <label asp-for="@Model.HireSoldiersInputModel.Quantity"></label>
                <input name="quantity" asp-for="@Model.HireSoldiersInputModel.Quantity" class="form-control" />
                <span asp-validation-for="@Model.HireSoldiersInputModel.Quantity" class="text-danger"></span>
            </div>

            <input type="submit" value="Hire" class="btn btn-primary mt-4" style="width: 6.1rem;" />
        </form>
    </div>

</div>

