@model RavenAge.Web.ViewModels.City.CityViewModel;


<div class="row justify-content-between">

    <div class="col-md-3">
        <p id ="Archers" class="text-center">Archers @Model.Archers</p>
        <img class="img-fluid justify-content-center" src="~/images/Soldiers/HumanArchar.jpg" />
    </div>

    <div class="col-md-3">
        <p id="Infantry" class=" text-center">Infantry @Model.Infantry</p>
        <img class="img-fluid justify-content-center" src="~/images/Soldiers/HumanInfantry.jpg" />
    </div>

    <div class="col-md-3">
        <p id="Cavalry" class=" text-center">Cavalry @Model.Cavalry</p>
        <img class="img-fluid justify-content-center" src="~/images/Soldiers/HumanCavalery.jpg" />
    </div>

    <div class="col-md-3">
        <p id="Artillery" class="artillery text-center">Artillery @Model.Artillery</p>
        <img class="img-fluid justify-content-center" src="~/images/Soldiers/HumanTrebuchet.jpg" />
    </div>

</div>

<div class="row justify-content-between ml-2">

    <div class="col-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>
            <div class="col-md-10">
                <label asp-for="@Model.HireSoldiersInputModel.ArcherQuantity"></label>
                <input name="archerquantity" asp-for="@Model.HireSoldiersInputModel.ArcherQuantity" value="0" class="form-control" />
                <span asp-validation-for="@Model.HireSoldiersInputModel.ArcherQuantity" class="text-danger"></span>
            </div>
            <input type="submit" value="Hire" class="btn btn-primary mt-2 ml-3" style="width: 6.7rem;" />

    </div>

    <div class="col-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>

            <div class="col-md-10">
                <label asp-for="@Model.HireSoldiersInputModel.InfantryQuantity"></label>
                <input name="infantryquantity" asp-for="@Model.HireSoldiersInputModel.InfantryQuantity" value="0" class="form-control" />
                <span asp-validation-for="@Model.HireSoldiersInputModel.InfantryQuantity" class="text-danger"></span>
            </div>

            <input type="submit" value="Hire" class="btn btn-primary mt-2 ml-3" style="width: 6.7rem;" />

    </div>

    <div class="col-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>

            <div class="col-md-10">
                <label asp-for="@Model.HireSoldiersInputModel.CavalryQuantity"></label>
                <input name="cavalryquantity" asp-for="@Model.HireSoldiersInputModel.CavalryQuantity" value="0" class="form-control" />
                <span asp-validation-for="@Model.HireSoldiersInputModel.CavalryQuantity" class="text-danger"></span>
            </div>

            <input type="submit" value="Hire" class="btn btn-primary mt-2 ml-3" style="width: 6.7rem;" />
 
    </div>

    <div class="col-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>

            <div class="col-md-10">
                <label asp-for="@Model.HireSoldiersInputModel.ArtilleryQuantity"></label>
                <input name="artilleryquantity" asp-for="@Model.HireSoldiersInputModel.ArtilleryQuantity" value="0" class="form-control" />
                <span asp-validation-for="@Model.HireSoldiersInputModel.ArtilleryQuantity" class="text-danger"></span>
            </div>
            <input type="submit" value="Hire" class="btn btn-primary mt-2 ml-3" style="width: 6.7rem;" />
    </div>

</div>

<input id="cityId" type="hidden" asp-for="@Model.HireSoldiersInputModel.CityId" value="@Model.Id"/>

<div class="row justify-content-between col-md-12">

    <div class="col-md-3">
        <p class="text-center">50 Silver</p>
        <p class="text-center">50 Wood</p>
    </div>

    <div class="col-md-3">
        <p class="text-center">100 Silver</p>
        <p class="text-center">15 Wood</p>
    </div>

    <div class="col-md-3">
        <p class="text-center">100 Silver</p>
        <p class="text-center">15 Wood</p>
    </div>

    <div class="col-md-3">
        <p class="text-center">25 Silver</p>
        <p class="text-center">100 Wood</p>
    </div>

</div>
