@model RavenAge.Web.ViewModels.City.CityViewModel;


<div>

    <div>
        <p id="CurrentProduction">Current Production: @Model.Farm.FoodProduction</=p>

        <p id="NextLevelProduction">Next Level Production: @(Model.Farm.FoodProduction + 200)</p>
    </div>

    <div>

        <p>Raise the level of the farm to increase the food production </p>

        <div class="row ml-1">
            <a id="FarmLevel" class="button-primary text-success mr-3 btn btn-outline-success">Level Up</a>

            <p>
                <span>Price:</span>
                <span id="FarmSilverCost" class="text-warning">Silver: @Model.Farm.SilverPrice</span>,
                <span id="FarmStoneCost" class="text-secondary">Stone: @Model.Farm.StonePrice</span>,
                <span id="FarmWoodCost" class="text-danger">Wood: @Model.Farm.WoodPrice</span>
            </p>
        </div>


    </div>

</div>

