@model RavenAge.Web.ViewModels.City.CityViewModel;


<div>

    <div>
        <p>Curent workers: @Model.Workers</p>
        <p>Income per Worker: 4</p>
        <p>Total income: @(Model.Workers * 4)</p>
        <p>Workers limit: @Model.House.WorkerLimit</p>
    </div>

    <div>

        <p>Raise the level of the houses to increase the workers' limit </p>

        <div class="row ml-1">
            <a class="button-primary text-success mr-3 btn btn-outline-success" asp-controller="House" asp-action="LevelUp">Level Up</a>

            <p>
                <span>Price:</span>
                <span class="text-warning">Silver: @Model.House.SilverPrice</span>,
                <span class="text-secondary">Stone: @Model.House.StonePrice</span>,
                <span class="text-danger">Wood: @Model.House.WoodPrice</span>
            </p>
        </div>


    </div>

</div>

