@using RavenAge.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/f909b4a59b.js" crossorigin="anonymous"></script>
    @RenderSection("CssFile", required: false)
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-light bg-transparent fixed-top p-0">

            <div id="layoutLogo" class="container-fluid m-0 p-0">


                <div id="left" class="row col-md-4">


                    <a id="firstLink" class="nav-link text-light" asp-area="" asp-controller="City" asp-action="Index">My city</a>
                    <a class="btn btn-primary" asp-controller="City" asp-action="CreateCity">Create my city!</a>


                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

                    <a class="nav-link text-danger" asp-controller="City" asp-action="CreateCity">Create my city!</a>

                </div>

                <div id="right" class="col-md-4">

                    <div class="ml-5">
                        <partial name="_LoginPartial" />
                    </div>

                </div>

            </div>
        </nav>

        <div class="sideBar">

            <nav class="nav__cont">
                <ul class="nav">
                    <li class="nav__items ">
                        <i class="fas fa-home fa-2x"></i>
                        <a href="">Home</a>
                    </li>

                    <li class="nav__items ">
                        <i class="fas fa-search fa-2x"></i>
                        <a href="">Search</a>
                    </li>

                    <li class="nav__items ">
                        <i class="far fa-list-alt fa-2x"></i>
                        <a href="">Statistics</a>
                    </li>

                    <li class="nav__items ">
                        <i class="far fa-calendar-alt fa-2x"></i>
                        <a href="">Events</a>
                    </li>

                </ul>
            </nav>

        </div>

    </header>


    <div class="mainBody m-0 p-0">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="p-0 m-0">
            @this.RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
