@model RavenAge.Web.ViewModels.City.CityViewModel;


<div>

    <div>
        <p id="SawMillCurrentProduction">Current Production: @Model.WoodMine.Production</p>

        <p id="SawMillNextLevelProduction">Next Level Production: @(Model.WoodMine.Production + 200)</p>
    </div>

    <div>

        <p>Raise the level of the saw mill to increase the wood production </p>

        <div class="row ml-1">
            <a id="SawMillUpgrade" class="button-primary text-success mr-3 btn btn-outline-success">Level Up</a>

            <p>
                <span>Price:</span>
                <span id="SawMillSilverUpgradeCost" class="text-warning">Silver: @Model.WoodMine.SilverPrice</span>,
                <span id="SawMillStoneUpgradeCost" class="text-secondary">Stone: @Model.WoodMine.StonePrice</span>,
                <span id="SawMillWoodUpgradeCost" class="text-danger">Wood: @Model.WoodMine.WoodPrice</span>
            </p>
        </div>


    </div>

</div>

