@model RavenAge.Web.ViewModels.City.CityViewModel;


<div>

    <div>
        <p id="StoneMineCurrentProduction" >Current Production: @Model.StoneMine.Production</p>

        <p id="StoneMineNextLevelProduction">Next Level Production: @(Model.StoneMine.Production + 200)</p>
    </div>

    <div>

        <p>Raise the level of the stone mine to increase the stone production </p>

        <div class="row ml-1">
            <a id="StoneMineUpgrade" class="button-primary text-success mr-3 btn btn-outline-success">Level Up</a>

            <p>
                <span>Price:</span>
                <span id="StoneMineSilverUpgradeCost" class="text-warning">Silver: @Model.WoodMine.SilverPrice</span>,
                <span id="StoneMineStoneUpgradeCost" class="text-secondary">Stone: @Model.WoodMine.StonePrice</span>,
                <span id="StoneMineWoodUpgradeCost" class="text-danger">Wood: @Model.WoodMine.WoodPrice</span>
            </p>
        </div>


    </div>

</div>

