@model RavenAge.Web.ViewModels.City.CityViewModel
﻿@{
    this.ViewData["Title"] = "Raven City";
}

<head>
    <link rel="stylesheet" href="~/css/city.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />
</head>

<div id="wrapper">

    <img class="img-fluid justify-content-center" src="~/images/City/12931140-closeup-of-rough-brown-background.jpg" style="width: 1920px; height: auto;" />


    <a id="anchor-level1" class="playsound" href="~/Sounds/Marching_Barracks.mp3" data-toggle="modal" data-target="#modalBarracksCenter">
        <p class="font-weight-bold p-0">Barracks</p>
        <p>Lvl: @Model.Barracks.Level</p>

    </a>

    <a id="anchor-level2" class="playsound" href="~/Sounds/Townhall_sound.mp3" data-toggle="modal" data-target="#modalTownhallCenter">
        <p class="font-weight-bold p-0">Townhall</p>
        <p>Lvl: @Model.TownHall.Level</p>

    </a>

    <a id="anchor-level3" data-toggle="modal" data-target="#modalHouseCenter">
        <p class="font-weight-bold p-0">House</p>
        <p>Lvl: @Model.House.Level</p>
    </a>

    <a id="anchor-level4" class="playsound" href="~/Sounds/Farm_Sound.mp3" data-toggle="modal" data-target="#modalFarmCenter">
        <p class="font-weight-bold p-0">Farm</p>
        <p>Lvl: @Model.Farm.Level</p>
    </a>

    <a id="anchor-level5" class="playsound" href="~/Sounds/SawMill_Sound.mp3" data-toggle="modal" data-target="#modalSawMillCenter">
        <p class="font-weight-bold p-0">Saw mill</p>
        <p>Lvl: @Model.WoodMine.Level</p>
    </a>

    <a id="anchor-level6" class="playsound" href="~/Sounds/StoneQuarry_Sound.mp3" data-toggle="modal" data-target="#modalStoneMineCenter">
        <p class="font-weight-bold p-0">Stone quarry</p>
        <p>Lvl: @Model.StoneMine.Level</p>
    </a>

    <a id="anchor-level7" href="~/Sounds/Marketplace_Sound.mp3" class="playsound text-dark">
        <p class="font-weight-bold p-0">Marketplace - 7</p>
    </a>

    <a id="anchor-level8" class="playsound " text-dark"" href="~/Sounds/DefenceWallGate_Sound.mp3" data-toggle="modal" data-target="#modalDefenceWallCenter">
        <p class="font-weighсt-bold p-0">Stone wall - 8</p>
        <p>Lvl: @Model.DefenceWall.Level</p>
    </a>

    <a id="anchor-level9" class="text-dark" asp-controller="World" asp-action="Index" asp-route-enemyName="">
        <p class="font-weight-bold p-0">World View - 9</p>
    </a>

    <a id="anchor-level10" class="text-dark" asp-controller="" asp-action="" asp-route-enemyName="">
        <p class="font-weight-bold p-0"> lvl 10</p>
    </a>

    <a id="anchor-level11" class="text-dark">
        <p class="font-weight-bold p-0">
            <img src="~/images/Avatars/Avatar11.png" style="max-width: 100%; height: auto;" alt="Alternate Text" />
        </p>
    </a>

</div>
<audio id="playTarget" src="" autoplay style="display:none"></audio>

<!-- Barracks Modal -->
<div class="modal fade" id="modalBarracksCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">
                    Barracks

                    <span class="resource text-warning">Silver - @(Math.Floor(Model.Silver))</span>
                    <span class="resource text-secondary">Stone - @(Math.Floor(Model.Stone))</span>
                    <span class="resource text-danger">Wood - @(Math.Floor(Model.Wood))</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <partial name="_BarracksModal" />

            </div>
            <div class="modal-footer">
                <p>@Model.Barracks.Description</p>
            </div>
        </div>
    </div>
</div>

<!-- House Modal -->
<div class="modal fade" id="modalHouseCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">
                    House

                    <span class="resource text-warning">Silver - @(Math.Floor(Model.Silver))</span>
                    <span class="resource text-secondary">Stone - @(Math.Floor(Model.Stone))</span>
                    <span class="resource text-danger">Wood - @(Math.Floor(Model.Wood))</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <partial name="_HouseModal" />

            </div>
            <div class="modal-footer">
                <p>@Model.House.Description</p>
            </div>
        </div>
    </div>
</div>
<form method="post" id="antiForgeryForm">
</form>

<!-- Farm Modal -->
<div class="modal fade" id="modalFarmCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">
                    Farm
                    <span id="SilverAvailable" class=" text-warning">Silver - @(Math.Floor(Model.Silver))</span>
                    <span id="StoneAvailable" class=" text-primary">Stone - @(Math.Floor(Model.Stone))</span>
                    <span id="WoodAvailable" class=" text-danger">Wood - @(Math.Floor(Model.Wood))</span>

                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <partial name="_FarmModal" />

            </div>
            <div class="modal-footer">
                <p>@Model.Farm.Description</p>
            </div>
        </div>
    </div>
</div>

<!-- Saw mill Modal -->
<div class="modal fade" id="modalSawMillCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">
                    Saw mill
                    <span class="resource text-warning">Silver - @(Math.Floor(Model.Silver))</span>
                    <span class="resource text-secondary">Stone - @(Math.Floor(Model.Stone))</span>
                    <span class="resource text-danger">Wood - @(Math.Floor(Model.Wood))</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <partial name="_SawMillModal" />

            </div>
            <div class="modal-footer">
                <p>@Model.WoodMine.Description</p>
            </div>
        </div>
    </div>
</div>

<!-- Stone mine Modal -->
<div class="modal fade" id="modalStoneMineCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">
                    Stone Mine
                    <span class="resource text-warning">Silver - @(Math.Floor(Model.Silver))</span>
                    <span class="resource resource text-secondary">Silver - @(Math.Floor(Model.Stone))</span>
                    <span class="resource text-danger">Wood - @(Math.Floor(Model.Wood))</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <partial name="_StoneMineModal" />

            </div>
            <div class="modal-footer">
                <p>@Model.StoneMine.Description</p>
            </div>
        </div>
    </div>
</div>

<!-- TownHall Modal -->
<div class="modal fade" id="modalTownhallCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">
                    TownHall

                    <span class="resource text-warning">Silver - @(Math.Floor(Model.Silver))</span>
                    <span class="resource text-secondary">Stone - @(Math.Floor(Model.Stone))</span>
                    <span class="resource text-danger">Wood - @(Math.Floor(Model.Wood))</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <partial name="_TownHallModal" />

            </div>
            <div class="modal-footer">
                <p>@Model.TownHall.Description</p>
            </div>
        </div>
    </div>
</div>


<!-- DefenceWall Modal -->
<div class="modal fade" id="modalDefenceWallCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">
                    Defence Wall

                    <span class="resource text-warning">Silver - @(Math.Floor(Model.Silver))</span>
                    <span class="resource text-secondary">Stone - @(Math.Floor(Model.Stone))</span>
                    <span class="resource text-danger">Wood - @(Math.Floor(Model.Wood))</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <partial name="_DefenceWallModal" />

            </div>
            <div class="modal-footer">
                <p>@Model.DefenceWall.Description</p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/BarracksUpgrade.js"></script>
    <script src="~/Scripts/FarmUpgrade.js"></script>
    <script src="~/Scripts/TownHallUpgrade.js"></script>
    <script src="~/Scripts/BuildingsSounds.js"></script>
    <script src="~/Scripts/SawMillUpgrade.js"></script>
    <script src="~/Scripts/StoneMine.js"></script>
    <script src="~/Scripts/HouseUpgrade.js"></script>
    <script src="~/Scripts/DefenceWallUpgrade.js"></script>
}
